<h1>Wacky Widgets</h1>
<% if (widgets.length === 0) { %>
    <h3>No widgets exist</h3>
<% } else { %>
    <% widgets.forEach((widget) => { %>
        <div>
            <section>
                <p><strong><%= widget.description %></strong></p>
                <p><%= widget.quantity %></p>
                <form method="POST" action="/?_method=DELETE">
                    <button name="widgetId" value="<%= widget.id %>" type="submit">DELETE</button>
                </form>
            </section>
            
        </div>
    <% }) %>
<% } %>
<hr>


<h4>Add Widget</h4>
<form method="POST" action="/">
    <input type="input" name="description" placeholder="Widget description">
    <input type="input" name="quantity" placeholder="Widget quantity">
    <button type="submit">ADD WIDGET</button>
</form>

