<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wacky Widgets</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <main class="container">
        <%- body %>
    </main>
</body>

</html>